.dashboard {
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 85px;
  background-color: black;

  @media (max-width: 1040px) {
    grid-template-columns: 2fr 1fr;
  }

  @media (max-width: 430px) {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
  }
}

.dashboard__main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    background-color: black;
  }
}

.dashboard__emotionValue {
  padding: 10px 25px;
  background-color: black;
  color: white;
  position: absolute;
  top: 75px;
  left: 25px;
  border-radius: 10px;
  z-index: 3;
}
