.login {
  height: 100vh;
  width: 100vw;
  max-width: 100%;

  .navbar {
    height: 10vh;
    background-color: black;

    .navebar__appname {
      color: white;
      margin-left: 30px;
      font-size: 35px;
      margin-top: 8px;
    }

    .navbar__btn {
      background-color: #D59F27;
      color: white;
      border-radius: 3px;
      height: 40px;
      width: 140px;
      font-size: 17px;
      margin-right: 40px;
    }
  }

  section {
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  .home {
    background-image: url("../assets/images/music.jpeg");
    background-attachment: fixed;

    .description {
      margin-top: 20px;

      .description__emoto {
        color: black;
        font-size: 100px;
      }

      .description__detail {
        font-size: 35px;
        margin-bottom: 2rem;
      }

      .description__btn {
        background-color: black;
        color: white;
        border-radius: 3px;
        height: 60px;
        width: 140px;
      }
    }
  }

  .speaker {
    background-image: url("../assets/images/speaker.jpeg");

    .description {
      margin-top: 50px;

      .description__emoto {
        font-size: 100px;
      }

      .description__detail {
        font-size: 28px;
        margin-bottom: 2rem;
      }
    }
  }

  .visual {
    background-image: url("../assets/images/visual.jpeg");
    background-position: center;

    .description {
      margin-top: 50px;

      .description__emoto {
        font-size: 100px;
      }

      .description__detail {
        font-size: 28px;
        margin-bottom: 2rem;
      }
    }
  }

  .team {
    background-image: url("../assets/images/team.jpeg");
    background-position: center;
    color: white;

    .description {
      margin-top: 50px;

      .description__emoto {
        font-size: 100px;
        margin-bottom: 50px;
      }

      .description__btn {
        background-color: black;
        color: white;
        font-size: 20px;
        border-radius: 3px;
        height: 60px;
        width: 140px;
      }

    }

    .description__person {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .team__head {
        object-fit: cover;
        width: 280px;
        height: 280px;
        border-radius: 280px;
      }

      .github__btn {
        margin-top: 40px;
        background-color: #0077b5;
        color: white;
        font-size: 24px;
        border-radius: 6px;
        border: none;
        height: 50px;
        width: 180px;
      }

      .github__btn:hover {
        background-color: white;
        color: #0077b5;
      }
    }
  }

  .github {
    background-image: url("../assets/images/github.jpeg");
    background-position: center;
    color: black;

    .description {
      margin-top: 50px;

      .description__emoto {
        font-size: 100px;
      }

      .description__detail {
        font-size: 28px;
        margin-bottom: 2rem;
      }

      .description__btn {
        background-color: black;
        color: white;
        font-size: 20px;
        border-radius: 3px;
        height: 60px;
        width: 140px;
      }
    }
  }

  .bottom {
    background-color: rgb(33, 32, 37);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 20px;
  }
}