.player {
  background-color: #222;
  color: white;
  grid-column: 1 / span 2;
  height: 20vh;

  @media (max-width: 430px) {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    height: 10vh;
  }
}

.player__progressBar {
  height: 10px;
  width: 100%;
  background-color: black;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  .player__progressBarComplete {
    background-color: green;
    height: 10px;
  }
}

.player__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 75px;
  justify-content: center;

  button:hover {
    cursor: pointer;
  }
}

.player__detail {
  position: absolute;
  left: 0;
  top: 0;
  justify-self: flex-start;
  display: flex;
  flex-direction: row;

  img {
    max-height: 75px;
  }

  .player__detailInfo {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 5px;
    }

    h2 {
      font-weight: 400;
      font-size: 16px;
    }
  }
}

.player__controls {
  button {
    outline: none;
  }
}