.playlist {
  background-color: #222;
  .playlist__top {
    h1 {
      letter-spacing: 0.1em;
      background-color: black;
      color: white;
      padding: 10px;
      font-size: 12px;
    }
  }
}
.playlist__item {
  padding: 25px;
  color: white;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}
