.speech {
  position: absolute;
  padding: 5px;
  z-index: 5;
  border-radius: 40px;
  bottom: 25px;
  left: 25px;
  z-index: 3;
  background-color: black;
  button {
    background-color: transparent;
    outline: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    padding: 0px;
    &:hover {
      cursor: pointer;
    }
    &[aria-selected="true"] {
      color: black;
      background-color: #f5f5f5;
    }
  }
}
