.visualizationToggle {
  position: absolute;
  padding: 5px;
  z-index: 5;
  border-radius: 40px;
  top: 25px;
  left: 25px;
  background-color: black;
  button {
    background-color: transparent;
    outline: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    &:hover {
      cursor: pointer;
    }
    &[aria-selected="true"] {
      color: black;
      background-color: #F5F5F5;
    }
  }
}